body {
	width:100%;
	background: #000;
	font-family: 'museo';
}

#slide {
	width:100%;
	height:100vh;
	display: block;
	background-position:center center;
	background-repeat:none;
}

#slide h2, #slide p {
	color:#fff;
	margin:0;padding:0;
	text-shadow:1px 1px 3px #000;
}

#slideContent {
	text-align: justify;
	position: relative;
	left:10%;
	width:65%;
	top:8%;
}

#slideContent h2 {
	font-size: 1.8em;
	margin-bottom:.6em;
}

#slideContent p {
	font-size: 1.4em;
	line-height: 1.7em;
}